@using MyLittleQuiz.ViewModels;
@model SecretPageViewModel;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccesor


<h2>Can you see me?</h2>

<p>
    @HttpContextAccesor.HttpContext.User.Identity.Name

    @Model.UserId
    @Model.UserName
</p>